## Use '*' to allow any origin to access your server.
#c.NotebookApp.allow_origin = ''

## Leading and trailing slashes can be omitted, and will automatically be added.
#c.NotebookApp.base_url = '/'

## The default URL to redirect to from `/`
c.NotebookApp.default_url = '/tree/{{ jupyter_work_subdir }}{% if jupyter_git_repos %}/{{ jupyter_git_repos | first | basename | regex_replace('\\.git$','') }}{% endif %}'

## The IP address the notebook server will listen on.
c.NotebookApp.ip = '0.0.0.0'

## The port the notebook server will listen on.
c.NotebookApp.port = {{ jupyter_port }}

## Whether to open in a browser after starting.
c.NotebookApp.open_browser = False

## Hashed password to use for web authentication.
## from notebook.auth import passwd; passwd()
## The string should be of the form type:salt:hashed-password.
{% if jupyter_password %}
c.NotebookApp.password = 'sha1:{{ jupyter_password_salt }}:{{ (jupyter_password + jupyter_password_salt) | hash('sha1') }}'
{% else %}
#c.NotebookApp.password = 'sha1:<salt>:<hash>'
{% endif %}

## Forces users to use a password for the Notebook server.
#c.NotebookApp.password_required = False

## Token used for authenticating first-time connections to the server.
## When no password is enabled, the default is to generate a new, random token.
## Setting to an empty string disables authentication altogether
#c.NotebookApp.token = '<generated>'

## Allow access to hidden files
#c.ContentsManager.allow_hidden = False
