[user]
    name = {{ dev_user_git_fullname }}
    email = {{ dev_user_git_email }}
[core]
    editor = vim
[push]
    default = {{ dev_user_git_push }}
[pull]
    ff = only
[alias]
    a = add
    b = branch
    bb = branch -vv
    ca = commit -a
    cane = commit --amend --no-edit
    cf = config
    ch = cherry-pick
    ci = commit
    co = checkout
    d = diff -M -D
    di = diff --cached -M -D
    dw = diff -M -D --word-diff
    diw = diff --cached -M -D --word-diff
    f = fetch
    fp = fetch --tags --prune
    gca = gc --aggressive --prune=all
    lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(white)%s%C(reset)%C(bold yellow)%d%C(reset)'
    lo = log --oneline --graph --decorate
    me = merge --no-commit
    phf = push -f heroku
    pl = pull -v --ff-only
    ps = push -v
    psf = push -v -f
    reco = rebase --continue
    reha = reset --hard
    rr = remote -v
    s = status -s
    st = status
    sh = show
    shw = show --word-diff
    sub = submodule
    subi = submodule update --init
    undo = reset HEAD --
    up = pull -v --rebase
